/* Flexible Box Layout (Flexbox)
The Flexible Box module, or just 'flexbox' for short, is a box model designed for user interfaces, and it allows users
to align and distribute space among items in a container such that elements behave predictably when the page
layout must accommodate different, unknown screen sizes. A flex container expands items to fill available space
and shrinks them to prevent overflow. */

/* Dynamic Vertical and Horizontal Centering (alignitems,
justify-content) */
.aligner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    background-color: aliceblue;
    padding: 10px 0;
}
.aligner-item{
    background-color: #ff0101;
    width: 30%;
    height: 200px;
}
.container{
    background-color: antiquewhite;
    display: flex;
    width: 100%;
    height: 100px;
}
.box{
    width: 50px;
    height: 50px;
    background-color: blueviolet;
    border-radius: 15px;
    border: 1px solid red;
}

/* Example: justify-content: center on a horizontal flexbox */
.container01{
    flex-direction: row;
    justify-content: center;
}

/* Example: justify-content: center on a vertical flexbox */
.container02{
    height: 200px;
    flex-direction: column;
    justify-content: center;
}
/* Example: align-content: center on a horizontal flexbox */
.container03{
    flex-direction: row;
    align-items: center;
}