/* Parameter Details
- static:  Default value. Elements render in order, as they appear in the document flow. The top, right, bottom,
left and z-index properties do not apply.
- relative:  The element is positioned relative to its normal position, so left:20px adds 20 pixels to the element's
LEFT position
- fixed:  The element is positioned relative to the browser window
- absolute:  The element is positioned relative to its first positioned (not static) ancestor element
- initial:  Sets this property to its default value.
- inherit:  Inherits this property from its parent element.
- sticky: Experimental feature. It behaves like position: static within its parent until a given offset threshold
is reached, then it acts as position: fixed.
- unset:  Combination of initial and inherit. More info here. */

/* .z-index{
    position: relative;
}
.z-index-div{
    position: absolute;
    height: 200px;
    width: 200px;
}
.z-index #div1{
    z-index: 1;
    left: 0px;
    top: 0px;
    background-color: royalblue;
}
.z-index #div2{
    z-index: 3;
    left: 100px;
    top: 100px;
    background-color:chocolate;
}
.z-index #div3{
    z-index: 2;
    left: 50px;
    top: 150px;
    background-color:darkgreen;
} */

.wrapper{
    position: relative;
    border: 1px solid red;
}
.dashed-box{
    position: relative;
    z-index: 1;
    border: dashed;
    height: 8em;
    margin-top: 2em;
    margin-bottom: 1em;
}
.gold-box{
    position: absolute;
    z-index: 3;
    background-color: gold;
    width: 80%;
    left: 90px;
    top: 3em;
}
.green-box{
    position: absolute;
    z-index: 2;
    background-color: limegreen;
    width: 20%;
    left: 65%;
    top: -25px;
    height: 10em;
    opacity: 0.9;
}

/* Absolute Position */
/* When absolute positioning is used the box of the desired element is taken out of the Normal Flow and it no longer
affects the position of the other elements on the page. 
Offset properties: 
1. top
2. left
3. right
4. bottom
*/
.absolute{
    position: relative;
    border: 1px dashed red;
    height: 500px;
}
.abspos1{
    position: absolute;
    top: 0px;
    left: 200px;
    background-color: saddlebrown;
    width: 250px;
    height: 200px;

}
.abspos2{
    position: absolute;
    top: 200px;
    right: 0px;
    background-color:blueviolet;
    width: 250px;
    height: 200px;

}
.abspos3{
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color:dodgerblue;
    width: 350px;
    height: 100px;

}

/* Fixed Position
Defining position as fixed we can remove an element from the document flow and set its position relatively to the
browser window. One obvious use is when we want something to be visible when we scroll to the bottom of a long
page.
 */
 nav{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: darkslateblue;
    width: 100%;
    height: 50px;
 }