.grid-container{
    display: grid;
    gap: 5px;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 55px 1fr 55px;
    grid-template-areas: 
    "sidebar header"
    "sidebar content"
    "sidebar footer";
}
header{
    grid-area: header;
    background-color: rgb(0, 0, 0);
    color: azure;
}
header a{
    color: azure;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.table-content{
    grid-area: sidebar;
    background-color: saddlebrown;
}
.table-content ol{
    list-style-type: none;
}
.table-content li{
    margin-top: 2px;
}
.table-content a{
    color: azure;
    text-decoration: none;
}
.main-content{
    grid-area: content;
    background-color: rgb(214, 214, 208);
}
footer{
    grid-area: footer;
    background-color: rgb(0, 0, 0);
    color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* We can control the distribution of the columns using the justify-content property:We can control the distribution of the columns using the justify-content property: */
.justify-content, .justify-items, .justify-self{
    display: grid;
    grid-template-columns: 50px 50px;
    gap: 5px;
    background-color: rgb(214, 214, 208);
    border: 1px solid black;
    height: 100px;
    width: 200px;
}
.grid-item{
    background-color: rgb(195, 78, 5);
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid red;
    text-align: center;
}
.justify-content_start{
    justify-content: start;
}
.justify-content_center{
    justify-content: center;
}
.justify-content_end{
    justify-content: end;
}
.justify-content_space-between{
    justify-content: space-between;
}
.justify-content_space-around{
    justify-content: space-around;
}
.justify-content_space-evenly{
    justify-content: space-evenly;
}

.justify-items{
    grid-template-columns: 90px 90px;
}
.justify-items_stretch{
    justify-items: stretch;
}
.justify-items_start{
    justify-items: start;
}
.justify-items_center{
    justify-items: center;
}
.justify-items_end{
    justify-items: end;
}

.justify-self{
    height: 200px;
}
.justify-self_stretch{
    justify-self: stretch;
}
.justify-self_start{
    justify-self: start;
}
.justify-self_center{
    justify-self: center;
}
.justify-self_end{
    justify-self: end;
}

.parent{
    background-color: rgb(214, 214, 208);
    width: 200px;
    height:200px;
    display: grid;
    place-content: center; /* place-content: start | center | end */
    /* 
    The place-content property is a shorthand.
    .parent {
        justify-content: center;
        align-content: center;
    }
    */
}
.child{
    background-color: rgb(255, 0, 0);
    width: 100px;
    height: 100px;
    border-radius: 5px;
}