html, body{
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
}
/* header style  */
header{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background-color: rgb(0, 0, 0);
    color: white;
    position: sticky;
    top: 0;
    left: 0;
}
.logo-box .logo-img{
    height: 30px;
}
.logo-box .logo-text{
    font-size: 2.5rem;
    padding-left: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
nav ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
nav ul li{
    margin-left: 5px;
}
nav ul li a{
    padding: 0.5rem 0.5rem 2px 0.5rem;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}
nav ul li a.active{
    border-bottom: 3px solid rgb(251, 130, 255);
}
nav ul li a:hover{
    border-bottom: 3px solid rgb(251, 130, 255);
    color: white;
}
/* main content style  */
main{
    flex: 1;
    background-color: rgb(219, 218, 216);
}
main .head-section{
    display: flex;
    justify-content: space-around;
    background-color: rgb(251, 130, 255);
    
}
.head-section-img img{
    width: 500px;
    box-shadow: 5px solid black;
}

/* footer styling */
footer{
    background-color: rgb(0, 0, 0);
    color: white;
}
.bottom-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
