/* display: grid | inline-grid; */
.wrapper{
    display: grid;
    background-color: rgb(155, 155, 152);
    border: 1px solid black;
}
.item{
    background-color: rgb(255, 128, 0);
    border: 1px solid rgb(255, 0, 0);
    border-radius: 5px;
}
.wrapper00{
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
}
.wrapper01{
    grid-template-columns: 1fr 2fr 1fr;
}
.wrapper02{
    grid-template-columns: 250px 1fr 2fr;
}
.wrapper03{
    grid-template-columns: 20px repeat(6, 1fr) 20px;
}
.wrapper04{
    grid-template-columns: repeat(5, 1fr 2fr);
}
/*
Implicit and explicit grids
When creating our example grid we specifically defined our column tracks with the grid-template-columns property, but the grid also created rows on its own. These rows are part of the implicit grid. Whereas the explicit grid consists of any rows and columns defined with grid-template-columns or grid-template-rows.
You can also define a set size for tracks created in the implicit grid with the grid-auto-rows and grid-auto-columns properties. */
.wrapper05{
    grid-template-columns: 2fr repeat(2, 1fr);
    grid-auto-rows: 100px;
}