/* display: grid | inline-grid; */
.wrapper{
    display: grid;
    background-color: rgb(155, 155, 152);
    border: 1px solid black;
}
.item{
    background-color: rgb(255, 128, 0);
    border: 1px solid rgb(255, 0, 0);
    border-radius: 5px;
}
.wrapper00{
    grid-template-columns: 1fr 1fr 1fr;
}
.wrapper01{
    grid-template-columns: 1fr 2fr 1fr;
}
.wrapper02{
    grid-template-columns: 250px 1fr 2fr;
}
