.rainbow{
    width: 100%;
    height: 350px;
    border: 1px solid black;
    text-align: center;
    animation: rainbow-background 5s infinite;
}
@keyframes rainbow-background {
    0% { background-color: #ff0000; }
    8.333% { background-color: #ff8000; }
    16.667% { background-color: #ffff00; }
    25.000% { background-color: #80ff00; }
    33.333% { background-color: #00ff00; }
    41.667% { background-color: #00ff80; }
    50.000% { background-color: #00ffff; }
    58.333% { background-color: #0080ff; }
    66.667% { background-color: #0000ff; }
    75.000% { background-color: #8000ff; }
    83.333% { background-color: #ff00ff; }
    91.667% { background-color: #ff0080; }
    100.00% { background-color: #ff0000; }
}
.spin{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.spin-box{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    text-align: center;
    background-color: rgb(20, 20, 223);
    color: white;

    animation-name: spin;
    animation-duration: 5s;
    animation-play-state: paused;
    animation-iteration-count: infinite;
}
.spin-box:hover{
    animation-play-state: running;
}
@keyframes spin {
    0%{

    }
    50%{
        scale: 2;
    }
    100%{
        transform: rotate(360deg);
        border-radius: 50%;
        scale: 2;
    }
}

.loading{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: black;
}
.load{
    width: 65px;
    height: 65px;
    border: 5px solid aqua;
    border-radius: 4px;
    box-shadow: 0 0 8px aqua, 0 0 8px aqua inset;
    animation: 2s loading infinite;
}
@keyframes loading {
    0%{
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    33%{
        transform: rotateX(180deg) rotateY(0) rotateZ(0);
    }
    67%{
        transform: rotateX(180deg) rotateY(180deg) rotateZ(0);
    }
    100%{
        transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
    }
}