*{
    margin: 0;
    padding: 0;
}
#title{
    padding: 5px 0 5px 0;
}

/* box-sizing */
/* content-box: The common box model - width and height only includes the content, not the padding or
border
padding-box: Width and height includes the content and the padding, but not the border
border-box: Width and height includes the content, the padding as well as the border */
#textarea1 {
    width: 100%;
    padding: 3px;
    box-sizing: content-box; /* default value */
}
#textarea2{
    width: 100%;
    padding: 3px;
    box-sizing: border-box; 
}

/* Margins */
.margin-collapse{
    border: 1px solid red;
}
.outer-top{
    margin: 10px;
    background-color: lightcoral;
}
.inner-top{
    margin: 15px;
    background-color: lightgreen;
}
.outer-bottom{
    margin: 20px;
    background-color: lightblue;
}
.inner-bottom{
    margin: 25px;
    background-color: lightpink;
}

/* Apply Margin on a Given Side */
/* CSS allows you to specify a given side to apply margin to. The four properties provided for this purpose are:
margin-left
margin-right
margin-top
margin-bottom */
/* margin: <top> <right> <bottom> <left>; */
#margins{
    background-color: limegreen;
    border: 1px solid black;
    margin-bottom: 2px;
}
#margins div{
    height: 40px;
    width: 40px;
}
#myDiv1{
    margin-top: 30px;
    background-color: red;
}
#myDiv2{
    margin-left: 550px;
    background-color: rgb(255, 208, 0);
}
#myDiv3{
    margin: 30px 0 0 30px;
    background-color: rgb(242, 0, 255);
}
#myDiv4{
    margin: 0 10px 50px 100px;
    background-color: rgb(0, 13, 255);
}

/* p{
    margin:10px 15px;  10px margin-top & bottom And 15px margin-right & left
    
    margin:10px 15px 10px 15px;

    margin:10px 15px 10px;
    margin left will be calculated from the margin right value (=15px) 
}
 */
 /* Negative margins */
.negative-margins{
    display: inline;
}
#base{
    background-color: rgba(139, 69, 19, 0.616);
}
#over{
    margin-left: -20px;
    background-color: rgba(233, 174, 24, 0.517);
}
/* Padding */
/* The padding property sets the padding space on all sides of an element. The padding area is the space between the
content of the element and its border. Negative values are not allowed. */
#padding{
    background-color: lightcoral;
    border: 1px solid black;
}
#padding div{
    margin-top: 5px;
    border: 1px solid black;
    width: 100px;
}
#div01{
    background-color: rgb(236, 173, 27);
    padding: 25px 50px 75px 100px; /* top right bottom left; */
}
#div02{
    background-color: rgb(224, 46, 46);
    padding: 25px 50px 55px; /* top left/right bottom */
}
#div03{
    background-color: rgb(21, 229, 55);
    padding: 25px 150px; /* top/bottom left/right */ 
}
#div04{
    background-color: rgb(224, 36, 221);
    padding: 25px; /* top/right/bottom/left */
}
/* Borders */
/* border-radius The border-radius property allows you to change the shape of the basic box model.*/
.border-radius-div{
    margin: 5px;
    height: 100px;
    width: 200px;
    background-color: rgb(188, 188, 188);
}
#radius-div02{
    border-radius: 30px;
}
#radius-div03{
    border-radius: 50%;
}
#radius-div04{
    border-radius: 30px 60px;
}
#radius-div05{
    border-radius: 10px 60px 30px;
}
#radius-div06{
    border-radius: 60px 120px 10px 30px;
}
/* border-style */
/* The border-style property sets the style of an element's border. This property can have from one to four values
(for every side of the element one value.)
Examples:
border-style: dotted;
border-style: dotted solid double dashed; */
.border-style-div{
    margin: 5px;
    height: 100px;
    width: 100px;
    background-color: rgb(182, 166, 166);
}
#style-div01{
    border-style: solid;
}
#style-div02{
    border-style: dotted;
}
#style-div03{
    border-style: dashed;
}
#style-div04{
    border-style: double;
}
#style-div05{
    border-style: groove;
}
#style-div06{
    border-style: ridge;
}
#style-div07{
    border-style: inset;
}
#style-div08{
    border-style: outset;
}