*{
    margin: 0;
    padding: 0;
}
#title{
    padding: 5px 0 5px 0;
}

/* box-sizing */
/* content-box: The common box model - width and height only includes the content, not the padding or
border
padding-box: Width and height includes the content and the padding, but not the border
border-box: Width and height includes the content, the padding as well as the border */
#textarea1 {
    width: 100%;
    padding: 3px;
    box-sizing: content-box; /* default value */
}
#textarea2{
    width: 100%;
    padding: 3px;
    box-sizing: border-box; 
}

/* Margins */
.margin-collapse{
    border: 1px solid red;
}
.outer-top{
    margin: 10px;
    background-color: lightcoral;
}
.inner-top{
    margin: 15px;
    background-color: lightgreen;
}
.outer-bottom{
    margin: 20px;
    background-color: lightblue;
}
.inner-bottom{
    margin: 25px;
    background-color: lightpink;
}

/* Apply Margin on a Given Side */
/* CSS allows you to specify a given side to apply margin to. The four properties provided for this purpose are:
margin-left
margin-right
margin-top
margin-bottom */
/* margin: <top> <right> <bottom> <left>; */
#margins{
    background-color: limegreen;
    border: 1px solid black;
}
#margins div{
    height: 40px;
    width: 40px;
}
#myDiv1{
    margin-top: 30px;
    background-color: red;
}
#myDiv2{
    margin-left: 550px;
    background-color: rgb(255, 208, 0);
}
#myDiv3{
    margin: 30px 0 0 30px;
    background-color: rgb(242, 0, 255);
}
#myDiv4{
    margin: 0 10px 50px 100px;
    background-color: rgb(0, 13, 255);
}

/* p{
    margin:10px 15px;  10px margin-top & bottom And 15px margin-right & left
    
    margin:10px 15px 10px 15px;

    margin:10px 15px 10px;
    margin left will be calculated from the margin right value (=15px) 
}
 */
 /* Negative margins */
.negative-margins{
    display: inline;
}
#base{
    background-color: rgba(139, 69, 19, 0.616);
}
#over{
    margin-left: -20px;
    background-color: rgba(233, 174, 24, 0.517);
}