@font-face{
    src: url("fonts/JetBrainsMono-VariableFont_wght.ttf");
    font-family: "JetBrains Mono";
}
@font-face{
    src: url("fonts/PressStart2P-Regular.ttf");
    font-family: PressStart2P;
}

/* font: [font-style] [font-variant] [font-weight] [font-size/line-height] [font-family]; */
q{
    /* The quotes property is used to customize the opening and closing quotation marks of the <q> tag. */
    quotes: "😊" "😊";
}
#element-one{
    font-size: 30px;
}
#element-two{
    font-size: 10px;
}
#element-three{
    font-size: 50px;
}

/* 
Text Direction
----------------
🌐The direction property is used to change the horizontal text direction of an element.
Syntax: direction: ltr | rtl | initial | inherit;
*/
.ltr{
    direction: ltr; /* Default, text read read from left-to-right */
}
.rtl{
    direction: rtl; /* Text read from right-to-left */
}
/* 
The writing-mode property changes the alignment of text so it can be read from top-to-bottom or from left-to-right,
depending on the language.
Syntax: writing-mode: horizontal-tb | vertical-lr | vertical-rl | sideways-lr
*/
.vertical-rtl{
    writing-mode: vertical-rl;
}
.vertical-ltr{
    writing-mode: vertical-lr;
}
.font-stack1{
    font-family: 'Segoe UI', Tahoma, sans-serif;
}
.font-stack2{
    font-family: Consolas, 'Courier New', monospace;
}
/* Text shadow 
text-shadow: horizontal-offset vertical-offset blur color;
*/
.Shadow1{
    /* Shadow without blur radius */
    text-shadow: 5px 2px  rgb(255, 123, 0);
}
.Shadow2{
    /* Shadow with blur radius */
    text-shadow: 2px 2px 5px  rgb(255, 0, 0);
}
.Shadow3{
    /* Multiple shadows */
    text-shadow: 1px 5px 3px #FF0000, 2px 3px 5px #ffea00;
}
/* 
Text Transform
----------------
🌐The text-transform property is used to change the case of text.
Valid values are: uppercase,capitalize, lowercase, initial, inherit, and none
*/
.example1 {
    text-transform: uppercase;
}
.example2 {
    text-transform: capitalize;
}
.example3 {
    text-transform: lowercase;
}
/* Letter Spacing */
.letter-spacing1{
    letter-spacing: normal;
}
.letter-spacing2{
    letter-spacing: 0.2rem;
}
.letter-spacing3{
    letter-spacing: 1px;
}
.letter-spacing4{
    letter-spacing: -1px;
}
/* 
Text Indent
----------------
🌐The text-indent property is used to change the indentation of text.
*/
.text-indent1{
    text-indent: 50px;
}
.text-indent2{
    text-indent: 150px;
}

/* Text Decoration */
.text-deco1{
    text-decoration: none;
}
.text-deco2{
    text-decoration: overline;
}
.text-deco3{
    text-decoration: line-through;
}
.text-deco4{
    text-decoration: underline;
}
.text-deco5{
    text-decoration: underline dotted red;
}
.text-deco6{
    text-decoration: underline wavy rgb(0, 98, 255);
}

/* Word Spacing */
.word-spacing1{
    word-spacing: normal;
}
.word-spacing2{
    word-spacing: 1rem;
}
.word-spacing3{
    word-spacing: 4px;
}
.word-spacing4{
    word-spacing: -0.4ch;
}

/* Font Variant
----------------
🌐The font-variant property is used to change the case of text.
small-caps
Sets every letter to uppercase, but makes the lowercase letters(from original text) smaller in size than the letters
that originally uppercase.
*/
.smallcaps{
    font-variant: small-caps;
}

/* using Google fonts */
.title{
    font-size: 3.5rem;
    font-family: PressStart2P, sans-serif;
}
.text{
    font-size: 1.5rem;
    font-family: "JetBrains Mono", monospace;
    font-weight: bold;
}