/* font: [font-style] [font-variant] [font-weight] [font-size/line-height] [font-family]; */
q{
    /* The quotes property is used to customize the opening and closing quotation marks of the <q> tag. */
    quotes: "😊" "😊";
}
#element-one{
    font-size: 30px;
}
#element-two{
    font-size: 10px;
}
#element-three{
    font-size: 50px;
}

/* 
Text Direction
----------------
🌐The direction property is used to change the horizontal text direction of an element.
Syntax: direction: ltr | rtl | initial | inherit;
*/
.ltr{
    direction: ltr; /* Default, text read read from left-to-right */
}
.rtl{
    direction: rtl; /* Text read from right-to-left */
}