body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header styling  */
header{
    padding: 0.5rem 1.5rem ;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
header .logo-box .logo-text{
    font-size: 2rem;
    color: white;
    font-family: "Press Start 2P", sans-serif;

}
header nav .nav-ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav .nav-ul .nav-link{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: "Chakra Petch", sans-serif;
    padding: 5px 1rem;
    margin-left: 5px;
    transition: all 0.3s ease;
}
header nav .nav-ul .nav-link:hover{
    color: rgb(6, 84, 240);
    border-bottom: 3px solid rgb(6, 84, 240);
    transform: scale(5.5);
}
header nav .nav-ul .active{
    color: rgb(6, 84, 240);
    border-bottom: 3px solid rgb(6, 84, 240);
}

header .contact-btn-box .contact-btn{
    padding: 0.5rem 1rem;
    outline: none;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "Chakra Petch", sans-serif;
    border-radius: 30px;
    border: none;
    background-image: linear-gradient(to bottom right, rgb(31, 100, 240),rgb(23, 88, 216), rgb(0, 34, 255));
    transition: all 0.5s ease;
}
header .contact-btn-box .contact-btn:hover{
    box-shadow: 40px 0 100px rgb(31, 100, 240), -40px 0 100px rgb(52, 26, 226);
    color: white;
    transform: scale(1.1);
    cursor: pointer;
}
/* main styling */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient( at bottom, rgb(254, 254, 254),rgb(188, 204, 235), rgb(31, 100, 240), rgb(0, 34, 255), rgb(0, 1, 5));
}
main h1{
    text-align: center;
    color: white;
    font-family: "Libre Caslon Text", serif;
    font-size: 5rem;
    text-shadow: 2px 2px 2px rgb(35, 35, 35);
}
.main-name{
    font-family: "Great Vibes", cursive;
    letter-spacing: 3px;
    color: rgb(255, 255, 255);
    text-shadow: 5px 2px rgb(0, 0, 0);
    
}
.main-img-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}