body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header styling  */
header{
    padding: 0.5rem 1.5rem ;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
header .logo-box .logo-text{
    font-size: 2rem;
    color: white;
    font-family: "Press Start 2P", sans-serif;

}
header nav .nav-ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav .nav-ul .nav-link{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: "Chakra Petch", sans-serif;
    padding: 5px 1rem;
    margin-left: 5px;
    transition: all 0.3s ease;
}
header nav .nav-ul .nav-link:hover{
    color: rgb(6, 84, 240);
    border-bottom: 3px solid rgb(6, 84, 240);
    transform: scale(5.5);
}
header nav .nav-ul .active{
    color: rgb(6, 84, 240);
    border-bottom: 3px solid rgb(6, 84, 240);
}