/* #current-color div{
    border: 1px solid red;
} */
#parent-current-color{
    height: 300px;
    width: 300px;
    padding: 10px;
    color: red;
    border: 3px solid currentColor;
}
.child-current-color{
    height: 100px;
    width: 100px;
    margin: 5px;
    border: 1px solid currentColor;
}
.some-class {
    /* This is equivalent to using the color keyword 'blue' */
    color: #0000FF;
}
.also-blue {
    /* If you want to specify each range value with a single number, you can!
    This is equivalent to '#0000FF' (and 'blue') */
    color: #00F;
}
.some-class {
    /* Scalar RGB, equivalent to 'green'*/
    color: rgb(0, 255, 0);
}
.also-green {
/* Percentile RGB values*/
color: rgb(0%, 100%, 0%);
}
.some-class {
    /* Scalar RGB, equivalent to 'red'*/
    color: rgb(255, 0, 0);
}
.also-red {
/* Percentile RGB values*/
color: rgb(100%, 0%, 0%);
}
/* Syntax
rgba(<red>, <green>, <blue>, <alpha>);
Value Description
<red> an integer from 0 - 255 or percentage from 0 - 100%
<green> an integer from 0 - 255 or percentage from 0 - 100%
<blue> an integer from 0 - 255 or percentage from 0 - 100%
<alpha> a number from 0 - 1, where 0.0 is fully transparent and 1.0 is fully opaque */
.red {
    /* Opaque red */
    color: rgba(255, 0, 0, 1);
}
.red-50p {
    /* Half-translucent red. */
    color: rgba(255, 0, 0, .5);
}

/* HSL stands for hue ("which color"), saturation ("how much color") and lightness ("how much white").
Hue is represented as an angle from 0° to 360° (without units), while saturation and lightness are represented as
percentages. */
p {
    color: hsl(240, 100%, 50%); /* Blue */
}
p{
    color: hsl(104, 81%, 56%); /* Green */
}
/* A saturation of 0% always produces a grayscale color; changing the hue has no effect.
A lightness of 0% always produces black, and 100% always produces white; changing the hue or saturation
has no effect. */
p{
    color: hsl(0, 0%, 50%); /* Gray */
}
p{
    color: hsl(0, 0%, 0%); /* Black */
}
p{
    color: hsl(0, 0%, 100%); /* White */
}
p{
    color: hsl(357, 81%, 56%); 
}