.test{
    width: 100px;
    height: 100px;
    border: 1px solid;
    transition-property: height, width;
    transition-duration: 1s, 500ms;
    transition-timing-function: linear;
    transition-delay: 0s, 1s;
}
.test:hover{
    height: 200px;
    width: 200px;
}
.test2{
    width: 200px;
    height: 200px;
    background-color:  rgb(255, 225, 0);
    /* transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s; */
   transition: width 1s ease 0s; 
}
.test2:hover{
    width: 400px;
}