table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
}
th {
    background-color: #f4f4f4;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
/* The height and width properties are used to set the height and width of an element.
The height and width properties do not include padding, borders, or margins. It sets the height/width of the area inside the padding, 
border, and margin of the element. */
/* CSS height and width Values
The height and width properties may have the following values:

auto - This is default. The browser calculates the height and width
length - Defines the height/width in px, cm, etc.
% - Defines the height/width in percent of the containing block
initial - Sets the height/width to its default value
inherit - The height/width will be inherited from its parent value */
img.one{
    width: auto;
    height: auto;
}
img.two{
    width: 200px;
    height: 200px;
}
img.three{
    width: 300px;
    height: 200px;
}
img.four{
    width: 100%;
    height: 50%;
}
img.five{
    width: 50%;
    height: 50%;
}
div.one{
    max-width: 400px;
    min-width: 100px;
    background-color: aquamarine;
}
div.two{
    max-height: 600px;
    min-height: 400px;
    background-color: chartreuse;
}
/* Note: Remember that the height and width properties do not include
padding, borders, or margins! They set the height/width of the area
inside the padding, border, and margin of the element! */

/* Overflow */
/* Overflow Value Details
visible Shows all overflowing content outside the element
scroll Hides the overflowing content and adds a scroll bar
hidden Hides the overflowing content, both scroll bars disappear and the page becomes fixed
auto Same as scroll if content overflows, but doesn't add scroll bar if content fits
inherit Inherit's the parent element's value for this property */

/* overflow-wrap – Value Details
normal : Lets a word overflow if it is longer than the line
break-word : Will split a word into multiple lines, if necessary
inherit : Inherits the parent element's value for this property */
.overflow-div{
    width: 100px;
    outline: 1px dashed #bbb;
    float: left;
}
#overflow-div1{
    overflow-wrap: normal;
    margin-right: 200px;
}
#overflow-div2{
    overflow-wrap: break-word;
}

/* overflow-x and overflow-y */
/* These two properties work in a similar fashion as the overflow property and accept the same values. The
overflow-x parameter works only on the x or left-to-right axis. The overflow-y works on the y or top-to-bottom
axis. */

.overflow{
    width: 200px;
    height: 200px;
    border: 1px solid #bbb;
    float: left;
}
#div-x {
    overflow-x: hidden;
}
#div-y {
    overflow-y: hidden;
    margin-left: 100px;
}
/* overflow: scroll */
#overflow-scroll{
    width:100px;
    height:100px;
    overflow:scroll;
    border: 1px solid #bbb;
}